absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
colorama==0.4.6
fastapi==0.135.3
h11==0.16.0
httptools==0.7.1
idna==3.11
immutabledict==4.3.1
numpy==2.4.4
ortools==9.15.6755
pandas==3.0.2
protobuf==6.33.6
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
six==1.17.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
uvicorn==0.43.0
watchfiles==1.1.1
websockets==16.0
